/* line 10, style.less */
.btn-default {
  border-radius: 31px;
  box-shadow: 0.5px 0.866px 0px 0px rgba(0, 0, 0, 0.196);
}
/* line 15, style.less */
h1,
h2,
h3,
h4 {
  line-height: 1.3;
  -moz-transform: matrix(1.2, 0, 0, 1.19997486, 0, 0);
  -webkit-transform: matrix(1.2, 0, 0, 1.19997486, 0, 0);
  -ms-transform: matrix(1.2, 0, 0, 1.19997486, 0, 0);
  font-weight: bold;
}
/*header*/
/* line 26, style.less */
.jumbotron {
  background-image: url("img-files/cover.jpg");
  background-position: center center;
  background-size: cover;
  height: 960px;
}
/* line 32, style.less */
.logo-site {
  margin-top: 100px;
  margin-bottom: 50px;
}
/* line 37, style.less */
.text-header {
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.3;
  -moz-transform: matrix(1.2, 0, 0, 1.19997486, 0, 0);
  -webkit-transform: matrix(1.2, 0, 0, 1.19997486, 0, 0);
  -ms-transform: matrix(1.2, 0, 0, 1.19997486, 0, 0);
  padding-bottom: 50px;
  padding-left: 20%;
  padding-right: 20%;
}
/* line 51, style.less */
.btn-header {
  margin-top: 50px;
  width: 300px;
}
/* line 56, style.less */
.img-scroll {
  margin-top: 100px;
  color: #fff;
}
/* line 64, style.less */
.iphone-side {
  margin-top: 150px;
}
/* line 67, style.less */
.iphone-title {
  margin-bottom: 50px;
  padding-left: 25%;
  padding-right: 25%;
  border: none;
}
/* line 76, style.less */
.iphone-block {
  background-image: url("img-files/iphone4.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  padding: 125px 90px 155px;
}
/* line 83, style.less */
.carousel-feature {
  cursor: pointer;
}
@media screen and (max-width: 1199px) and (min-width: 991px) {
  /* line 89, style.less */
  .iphone-block {
    background-size: 100% auto;
    padding: 75px 54px 120px;
  }
  /* line 94, style.less */
  .iphone-app .iphone-side {
    margin-top: 10px;
  }
}
@media screen and (max-width: 991px) {
  /* line 101, style.less */
  .iphone-block {
    background: none;
    padding: 10px;
  }
  /* line 107, style.less */
  .iphone-app .iphone-title {
    margin-bottom: 10px;
  }
}
/* line 117, style.less */
.details-fluid {
  background-color: #2c3e50;
  color: #fff;
  margin-top: 51px;
  padding-top: 51px;
  padding-bottom: 104px;
}
/* line 126, style.less */
.details-app h1 {
  margin-bottom: 51px;
}
/* line 129, style.less */
.details-app h3 {
  padding-top: 6px;
  padding-bottom: 16px;
  line-height: 26px;
}
/* line 135, style.less */
.details-app p {
  padding: 0px 36px;
}
/* line 138, style.less */
.details-app .row > div {
  border-color: rgba(255, 255, 255, 0.102);
  border-style: solid;
  border-width: 0 1px 1px 0;
  padding-bottom: 51px;
}
@media screen and (min-width: 992px) {
  /* line 147, style.less */
  .details-app .row > div:nth-child(3n) {
    border-right: none;
  }
  /* line 150, style.less */
  .details-app .row > div:nth-child(n+4) {
    padding-top: 51px;
    border-bottom: none;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 158, style.less */
  .details-app .row > div {
    border: none;
    padding-bottom: 0;
    padding-top: 52px;
  }
}
@media screen and (max-width: 991px) {
  /* line 175, style.less */
  .details-app .row > div:nth-child(2n) {
    border-right: none;
  }
  /* line 178, style.less */
  .details-app .row > div:nth-child(n+3) {
    padding-top: 51px;
  }
  /* line 181, style.less */
  .details-app .row > div:nth-child(n+5) {
    padding-bottom: 0;
    border-bottom: none;
  }
}
/* line 194, style.less */
#our-work .page-header {
  margin-bottom: 25px;
}
/* line 199, style.less */
.work-app .fa {
  display: inline-block;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-webkit-font-smoothing: antialiased;
  -ms-webkit-font-smoothing: antialiased;
  -o-webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
}
/* line 209, style.less */
.work-app .proyect {
  position: relative;
  margin-bottom: 31px;
}
/* line 213, style.less */
.work-app .proyect:hover .proyect-title {
  bottom: 10px;
  opacity: 1;
  font-size: 20px;
}
/* line 218, style.less */
.work-app .proyect:hover .proyect-thumbnail .fa {
  opacity: .85;
  font-size: 50px;
}
/* line 223, style.less */
.work-app .proyect-title {
  position: absolute;
  bottom: -52px;
  margin: 0;
  text-align: center;
  font-size: 5px;
  line-height: 52px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
/* line 238, style.less */
.work-app .proyect-title a {
  color: #fff;
  text-decoration: none;
}
/* line 245, style.less */
.work-app .proyect .proyect-thumbnail .fa {
  position: absolute;
  font-size: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 190px;
  background-color: #d54a3b;
  opacity: 0;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
/* line 261, style.less */
.work-app .modal-title {
  color: #d54a3b;
  text-align: center;
}
/* line 266, style.less */
.work-app .modal-body span {
  padding-left: 20px;
  padding-top: 20px;
}
/* line 270, style.less */
.work-app .modal-body > p {
  padding: 10px 51px;
}
/* line 281, style.less */
#title-testimonials {
  margin-bottom: 40px;
}
/* line 283, style.less */
#title-testimonials hr {
  margin: 51px 0px;
}
/* line 290, style.less */
.carousel-testimonials #carousel-testimonials ol {
  width: 100%;
  left: 0;
  margin-left: 0;
  position: relative;
}
/* line 296, style.less */
.carousel-testimonials #carousel-testimonials li {
  width: 52px;
  height: 52px;
  text-indent: 0;
  border: 0;
  border-right: 0;
  margin: 0 5px;
}
/* line 304, style.less */
.carousel-testimonials #carousel-testimonials li img {
  border-radius: 2px;
  -webkit-box-shadow: 1.5px 2.598px 4.92px 1.08px rgba(0, 0, 0, 0.294);
  -moz-box-shadow: 1.5px 2.598px 4.92px 1.08px rgba(0, 0, 0, 0.294);
  -ms-box-shadow: 1.5px 2.598px 4.92px 1.08px rgba(0, 0, 0, 0.294);
  -o-box-shadow: 1.5px 2.598px 4.92px 1.08px rgba(0, 0, 0, 0.294);
  box-shadow: 1.5px 2.598px 4.92px 1.08px rgba(0, 0, 0, 0.294);
}
/* line 313, style.less */
.carousel-testimonials #carousel-testimonials .item {
  margin: 20px 50px 0px;
}
/* line 315, style.less */
.carousel-testimonials #carousel-testimonials .item p {
  padding: 0 90px;
  margin-bottom: 31px;
  line-height: 22px;
}
/* line 323, style.less */
.banners {
  border-top: 1px solid rgba(255, 255, 255, 0.102);
  margin-top: 51px;
  padding-top: 51px;
}
/* line 327, style.less */
.banners img {
  margin-bottom: 15px;
}
/* line 336, style.less */
.section-pricing-table {
  padding-top: 51px;
  padding-bottom: 51px;
}
/* line 341, style.less */
.section-pricing-table .panel .panel-heading h3 {
  margin: 0;
}
/* line 343, style.less */
.section-pricing-table .panel .panel-heading h3 > span {
  color: #fff !important;
}
/* line 348, style.less */
.section-pricing-table .panel .panel-footer {
  padding: 21px 26px;
  border-top: 0;
}
/* line 352, style.less */
.section-pricing-table .panel .panel-body {
  padding: 0 36px;
}
/* line 355, style.less */
.section-pricing-table .panel td {
  padding: 16px;
}
/* line 358, style.less */
.section-pricing-table .panel button {
  width: 100%;
  height: 64px;
  border-radius: 2px;
}
/* line 371, style.less */
.section-showcase {
  background-color: #2c3e50;
  padding-left: 0;
  padding-right: 0;
  color: #fff;
}
/* line 376, style.less */
.section-showcase .col-lg-6,
.section-showcase .col-md-4,
.section-showcase .col-md-8 {
  position: relative;
}
/* line 379, style.less */
.section-showcase .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 383, style.less */
.section-showcase .showcase-bg {
  padding: 0	;
}
/* line 385, style.less */
.section-showcase .showcase-bg img {
  height: 100%;
}
/* line 391, style.less */
.section-showcase .showcase-app {
  padding: 131px 0px 0px;
}
/* line 394, style.less */
.section-showcase .showcase-app h1 {
  margin: 0 0 26px;
}
/* line 397, style.less */
.section-showcase .showcase-app p {
  margin-bottom: 26px;
}
/* line 408, style.less */
.section-our-team .row {
  margin-top: 51px;
  margin-bottom: 51px;
}
/* line 414, style.less */
.img-staff img {
  margin-right: 15px;
}
/* line 417, style.less */
.img-staff img:nth-child(1) {
  margin-left: 15px;
}
/* line 426, style.less */
.bg-contact {
  background-image: url("img-files/showcase-bg.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  margin-top: 51px;
  margin-bottom: 51px;
  padding-top: 71px;
  padding-bottom: 61px;
}
/* line 435, style.less */
.bg-contact .col-sm-3 {
  padding-left: 0;
}
/* line 446, style.less */
footer i {
  font-size: 70px;
  margin: 21px 8px 51px;
}
/* line 456, style.less */
.section-up {
  margin-bottom: 21px;
}
/* line 458, style.less */
.section-up i {
  background-color: #d54a3b;
  border-radius: 50%;
  font-size: 40px;
  padding: 15px;
  cursor: pointer;
}
@media screen {
  /* Small devices (tablets, 768px and up) */
}
@media screen and (min-width: 768px) {
  /* line 476, style.less */
  .section-showcase .showcase-app {
    padding: 20px 0px 0px;
    text-align: center;
  }
  /* line 480, style.less */
  .section-showcase .showcase-bg img {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  /* line 487, style.less */
  .carousel-testimonials #carousel-testimonials .item p {
    padding: 0;
  }
  /* line 491, style.less */
  .iphone-title {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 496, style.less */
  .section-showcase .showcase-app {
    padding: 20px 0px 0px;
    text-align: center;
  }
  /* line 500, style.less */
  .section-showcase .showcase-bg img {
    height: auto;
  }
  /* line 504, style.less */
  .bg-contact .col-sm-3 {
    padding-left: 15px;
  }
  /* line 508, style.less */
  .work-app .proyect {
    position: relative;
    margin-bottom: 31px;
  }
  /* line 512, style.less */
  .work-app .proyect:hover .proyect-title {
    bottom: 0px;
    opacity: 1;
    font-size: 15px;
  }
  /* line 517, style.less */
  .work-app .proyect:hover .proyect-thumbnail .fa {
    opacity: .85;
    font-size: 35px;
    line-height: 135px;
  }
}
@media screen and (min-width: 220px) and (max-width: 480px) {
  /* line 526, style.less */
  h1 {
    font-size: 2em;
  }
  /* line 530, style.less */
  .carousel-testimonials #carousel-testimonials .item p {
    padding: 0;
  }
  /* line 534, style.less */
  .btn-header {
    margin-top: 0;
    width: auto;
  }
  /* line 538, style.less */
  .bg-contact {
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 542, style.less */
  .section-pricing-table {
    padding-top: 0;
  }
  /* line 545, style.less */
  .details-fluid {
    padding-bottom: 0;
    padding-top: 0;
  }
  /* line 549, style.less */
  .iphone-title {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
  /* line 554, style.less */
  .details-app p {
    padding: 0;
  }
  /* line 556, style.less */
  .details-app p .row {
    padding-top: 0;
  }
  /* line 560, style.less */
  .carousel-testimonials #carousel-testimonials .item {
    margin: 0;
  }
  /* line 564, style.less */
  .section-showcase .showcase-app {
    padding: 20px 0px 0px;
    text-align: center;
  }
  /* line 568, style.less */
  .section-showcase .showcase-bg img {
    height: auto;
  }
  /* line 572, style.less */
  .bg-contact .col-sm-3 {
    padding-left: 15px;
  }
  /* line 576, style.less */
  .work-app .proyect {
    position: relative;
    margin-bottom: 31px;
  }
  /* line 580, style.less */
  .work-app .proyect:hover .proyect-title {
    bottom: 0px;
    opacity: 1;
    font-size: 15px;
  }
  /* line 585, style.less */
  .work-app .proyect:hover .proyect-thumbnail .fa {
    opacity: .85;
    font-size: 15px;
    line-height: 75px;
  }
  /* line 592, style.less */
  .text-header {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
  }
}
/* line 605, style.less */
.section-iphone-features .page-header {
  text-align: center;
}
/* line 608, style.less */
.section-iphone-features .feature-block span:before {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;
  background: #e74c3c;
  bottom: -2px;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/* line 619, style.less */
.section-iphone-features .feature-block {
  cursor: pointer;
}
/* line 621, style.less */
.section-iphone-features .feature-block:active {
  color: red;
}
